
<!-- <h2>Job Details</h2>
<b>Job Title:</b>{{job.jobtitle}}<br>
Job Description:{{job.jobdescription}}<br>
Skills Required:{{job.skillsrequired}}<br>
Years Of Experience Needed:{{job.yearsofexp}}<br>
Salary:{{job.salary}}<br>
Location:{{job.location}} -->

<div class="row">
	<div class="leftcolumn">
		<div class="card"">
			<h1><b>Job Title:</b>{{job.jobtitle}}</h1>
			<br> 
			Job Description:{{job.jobdescription}}<br> <br>
			
			Skills Required:{{job.skillsrequired}}<br> <br>
			
			Years Of ExperienceNeeded:{{job.yearsofexp}}<br> <br>
			
			Salary:{{job.salary}}<br> <br>
			
			Location:{{job.location}}
		</div>
	</div>
</div>