
   <div class="container" >
   <div class="row" >
   	<div class="col align-self-center">
   
   		   <form class="login-form center-block" class="form-inline">
 <span style="color:red">{{errormessage.error}}</span><br>
 {{error}}
<div class="form-group">
<b>Enter Email Id or Phone Number:</b><input type="text" name="var" ng-model="inp"  class="form-control"placeholder="Enter email Id or phone number"> 

</div>
<div class="form-group">
<b>Enter password:</b><input type="password" ng-model=inp2  class="form-control"placeholder="Enter password"><br>
</div>
<input  class="btn btn-default" type="submit" value="Login" ng-click="login()">

 <a href="#/register" >Register</a>
 
 
 


 </form>
 </div>
   	</div>
   	</div>


 